@import "./tokens/tokens.css";

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text-primary);
  background: var(--color-white);
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
}
